* {
  box-sizing: border-box;
  background-color: black;
}
.headicon img {
  display: block;
  margin: auto;
  padding-top: 50px;
}
.lineup {
  display: flex;
  flex-wrap: wrap;
}
.footnav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bolder;
}
.footnav li {
  margin-right: 15px;
}
.footnav a:link,
a:visited {
  text-decoration: none;
  color: white;
}
.footnav a:hover {
  color: goldenrod;
}
.footnav a:active {
  color: white;
}
.download {
  display: flex;
  flex-direction: row;
}
.btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 14px 14px;
  width: 190px;
  cursor: pointer;
  margin-right: 15px;
}
button img {
  float: left;
  margin-right: 0px;
}
.download-btn {
  text-transform: capitalize;
  font-weight: bolder;
}
.download-btn1 {
  text-transform: capitalize;
  font-weight: bolder;
  margin-left: 19px;
}
.btn a:link,
a:visited {
  color: white;
}
.btn a:hover {
  color: goldenrod;
}
.socials {
  display: flex;
  flex-direction: row;
}
.icon {
  background-color: white;
  height: 12px;
}
.socials a:link,
a:visited {
  color: white;
}
.icon a:hover {
  color: goldenrod;
}
.parag {
  display: flex;
  color: white;
  margin-left: 40px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}
.legal {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  color: white;
  list-style-type: none;
}
.legal li {
  margin-right: 15px;
}
.legal a:link,
a:visited {
  text-decoration: none;
  color: white;
}
.legal a:hover {
  color: goldenrod;
}
.legal a:visited {
  color: white;
}
.copyright {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 40px;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .lineup {
    flex-direction: column;
  }
  .footnav,
  .socials,
  .legal,
  .copyright {
    flex-direction: row;
    justify-content: center;
  }
  .download {
    flex-direction: row;
    justify-content: center;
  }
  footer .socials {
    order: 1;
  }
  footer .footnav {
    order: 2;
  }
  .download {
    order: 3;
  }
  .parag {
    width: 1000px;
    text-align: center;
    padding-left: 400px;
  }
}
